body {
  background: #F5FFFA;
}

main {
    padding-top: 50px;

}

.my_success {
    margin-left: 166px !important;
    margin-right: 166px !important;
    margin-top: 46px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;
}

h1 {
  color: green;
}

.nav-link {
  height: fit-content;
}

.navbar-nav {
  align-items: center;
}

.val {
  color: #1E90FF;
  font-size: 34px;
  font-family: Verdana;
}

.carousel-inner{
  height: 500px;
  margin-top: 20px;
}

.carousel-inner img{
  width: 100%;
  height: 100%;
  transform: translateY(-30%);
}

.val2 {
  color: #1E90FF;
  font-size: 34px;
  font-family: Verdana;
  margin-top: 30px;
}

.content{
  font-size: 34px;
  line-height: 70%;
  text-align: center;
  font-weight: normal;
  display: block;
  text-transform: none;
  margin-bottom: 0!important;
  margin-top: 0px;
  padding: 30px;
  margin-left: 140px;
  margin-right: 140px;
}

.two-blocks{
  border: 2px solid #C0C0C0;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 15px;
}

.vse{
  margin-top: 15px;
  color: #FF7F50;
  font-size: 70%;
}

.text-onas {
  width: 45%;
  font-size: 50%;
  margin: 5px 10px;
}

.list2b {
    margin-bottom: 8px;
    padding:0;
    list-style: none;
    counter-reset: li;
    margin-left: 132px;
    margin-right: 132px;
}
.list2b li {
    position: relative;
    border: 2px solid #DDDDDD;
    background: #FAFAFA;
    padding:16px 20px 16px 28px;
    margin:12px 0 12px 40px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.otstup{
    margin-top: 5px;
    text-align: left;
}

.to_cart {
    margin-left: 212px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: 150px;
  grid-auto-rows: minmax(100px, auto);
  background-image: url(fon.jpg);
  margin: 20px auto;
  padding: 35px;
}

.shop_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  grid-auto-rows: 150px;
  grid-auto-rows: minmax(100px, auto);

  padding: 35px;

}

.d-block {
  display: none;
}

.icon {
  height: 100px;
  width: 100px !important;
  vertical-align: middle !important;
  margin-bottom: 30px;
}

.categories {
    background-color: white;
    padding: 35px;
    margin-top: 75px;
    outline: 1px solid #bdbdbd; /* Чёрная рамка */
    border-radius: 15px;

}

.delete_button {
    margin-left: 225px;
}

.otmena {
    margin-left: 10px;
}

.submit_delete {
    margin-bottom: 550px;
}

.repair_input {
    margin-left: 15px;
    width: 400px;
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
    padding: 0.375rem 0.75rem;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
}

.repair_butt {
    float: left;
    margin-top: 20px;
    margin-bottom: 300px;
}

.wrapper_repair{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1em;
      grid-auto-rows: 150px;
      grid-auto-rows: minmax(100px, auto);
      margin-top: 20px;
      padding: 35px;
}

.title_sto {
    display: block;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.repair_icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px !important;
    height: 80px !important;
}

.image {
    position: relative;
    padding: 18px;
}

.text_over {
    position: absolute;
    top: -20px;
    left: 60px;
    width: 50%;
}

.text_over span {
    color: grey;
    font-size: 40px;
    line-height: 55px;
    padding: 10px;
}

.krug_bel {
    position: absolute;
    top: -20px;
    left: -10px;
    width: 10%;
}

.krug_bel span {
    font-size: 17px;
    line-height: 55px;
}

#map {
    width: 100%;
    height: 400px;
}

.page_title {
    margin-bottom: 20px;
    text-align: center;
    color: #F90B6D; font-family: 'Open Sans', sans-serif; font-size: 34px; font-weight: 300; line-height: 40px;
    text-shadow: -1px 1px 0 #000;
}

.back_fon {
    height: 432px;
    margin-bottom: 100px;
    background-image: url(feature.jpg);

}

.my_time_dict {
    margin-top: 30px;
}

.my_dropdown {
    margin-left: 15px;
    width: 400px;
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
    padding: 0.375rem 0.75rem;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    background-color: white !important;
}

.repair_form {
    clear:both;
    text-align:right;
}

.repair_label {
    float:left;
    margin-top: 6px;
    color: white;
}

.time_main {
    float:left;
    margin-left: 20px;
}

.search-button {
    margin-left: 15px;
    margin-bottom: 2px;
}

.search-form {
    margin-left: 35px;
}

.myfield {
    width: 600px;
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
    margin: 0; /* 2 */
    padding: 0.375rem 0.75rem;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;

}
.form_input_cart {
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
}

.paginbutt {
    margin-left: 35px;
}

.mylink {
    color: black;
}

.icon_cart {
  height: 40px;
  width: 40px !important;
  vertical-align: middle !important;
  margin-bottom: 2px;
    margin-top: 2px;

}

.link {
  padding: 1em;
  background-color: #402a2a;
  background: rgba(0, 0, 0, 0.59);
  border-bottom: 5px solid #fbb03b;
  text-decoration: none;
  transition: .3s ease-in-out;
}

.shop_url {
    text-decoration: none;
    color: white;
}

.shop_link {
  padding: 1em;
  background-color: #402a2a;
  background: rgba(0, 0, 0, 0.59);
  border-bottom: 5px solid #fbb03b;
  text-decoration: none;
  color: white;
  transition: .3s ease-in-out;

}


.shop_link:hover {
	background: rgba(0,0,0,0);
	color: #fbb03b;
	box-shadow: inset 0 0 0 3px #fbb03b;

}

.shop_url:hover {
    color: #fbb03b;
}

.link:hover {
	background: rgba(0,0,0,0);
	color: #fbb03b;
	box-shadow: inset 0 0 0 3px #fbb03b;

}

.myimg {
    width: 20%;
    height: 20%;
}

.shopimg{
    display: block;
    margin: 0 auto;
    aspect-ratio: 4 / 3;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.valik2{
    display: flex;

    align-items: center;
}

.valik2 h6{
    margin-right: 20px;
}

/*.carousel-control-prev,*/
/*.carousel-control-next {*/
/*    position: relative;*/

/*    }*/

.carousel-control-prev:after,
.carousel-control-next:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 50%;
    z-index: 0;
}

.carousel-control-next-icon,
.carousel-control-prev-icon{
    z-index: 2;
}

.ui-menu{
    max-height: 300px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background-color: #ffa940;
}

.my_cart {
    border: 2px solid darkgrey;
    border-collapse: collapse;
    width: 70%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

td {
    vertical-align: middle;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}

.timals{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
}

.update_form button {
    outline: none;
    border: 0;
    background-color: transparent;
}

.update_form svg {
    width: 25px;
}

.update_form svg path {
    fill: green;
}

.navbar-nav {
    width: 100%;
}

.shapka_butt{
    margin: 0 15px;
}

.cart_message{
    position: relative;
}

#id_title,
#id_count,
#id_price,
#id_description,
#id_category {
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
    margin: 0; /* 2 */
    padding: 0.1rem 0.1rem;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    background-color: white;
}

#id_image{
    padding: 10px;
}

#id_quantity{
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
    margin: 0; /* 2 */
    padding: 0.1rem 0.1rem;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    background-color: white;
}

.cart_shopimg {
    display: block;
    margin: 0 auto;
    aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 100%;
  height: 100px;
}

.text-right{
    margin-left: 228px;
    margin-top: 25px;
}

.price {
    background-color: #f7f7f7;
    padding: 1rem;
    margin-top: 20px;
    /* Чёрная рамка */
    border-radius: 3px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.alert-light {
    border-color: #bfbfbf;
    display: flex;
    width: 100%;
    margin-bottom: 500px;
}

.alert-light .shopimg{
    width: 30%;
    margin: 0 20px 0 0;
    height: fit-content;
}

.link div {
  display: block; /* Ссылка как блочный элемент */
  text-align: center; /* Выравнивание по центру */
  height: 100%; /* Высота на весь слой */
  color: white; /* Цвет ссылки */
  font-size: 14pt;
  text-decoration: none !important;
}




.list2b li:hover {
    background: #F0F5FB;
    border: 2px solid #ADCEE9;
}
.list2b li:before {
    line-height: 32px;
    position: absolute;
    top: 4px;
    left:-40px;
    width:40px;
    text-align:center;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    background: #77AEDB;
    counter-increment: li;
    content: counter(li);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.list2b li:hover:before {
    width:46px;
    background: #337AB7;
}
.list2b li:after {
    position: absolute;
    left: 0;
    top: 4px;
    content: "";
    height: 0;
    width: 0;
    border: 16px solid transparent;
    border-left-color: #77AEDB;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s
}
.list2b li:hover:after {
    margin-left: 6px;
    border-left-color: #337AB7;
}

li {
  font-size: 17px;
  font-style: cursive;
}

span {
  font-size: 27px;
  font-style: cursive;
}

.user_in_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.my_login_input{
    width: 100%;
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
    margin: 0; /* 2 */
    padding: 0.375rem 0.75rem;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
}

.style_form {
    background-color: white;
    padding: 35px;
    outline: 1px solid #bdbdbd; /* Чёрная рамка */
    border-radius: 15px;
    margin-bottom: 400px;

}

.log_in_button {
    width: 273px;
}