<div>
    <h2>Hey {{ user.username }}</h2>

    <h3>We noticed you just sign up on our website</h3>
    <a href="http://{{ domain }}{% url 'activate' uidb64=uid token=token %}">Please <strong>confirm your email
        address</strong> and activate your account</a>
    The indefinite article takes two forms. It’s the word a when it precedes a word that begins with a consonant. It’s
    the word an when it precedes a word that begins with a vowel. The indefinite article indicates that a noun refers to
    a general idea rather than a particular thing. For example, you might ask your friend, “Should I bring a gift to the
    party?” Your friend will understand that you are not asking about a specific type of gift or a specific item. “I am
    going to bring an apple pie,” your friend tells you. Again, the indefinite article indicates that she is not talking
    about a specific apple pie. Your friend probably doesn’t even have any pie yet. The indefinite article only appears
    with singular nouns. Consider the following examples of indefinite articles used in context:

    Please hand me a book; any book will do.
    Please hand me an autobiography; any autobiography will do.
    Exceptions: Choosing A or An
    There are a few exceptions to the general rule of using a before words that start with consonants and an before
    words that begin with vowels. The first letter of the word honor, for example, is a consonant, but it’s
    unpronounced. In spite of its spelling, the word honor begins with a vowel sound. Therefore, we use an. Consider the
    example sentence below for an illustration of this concept.
</div>
