{% extends "shop/base.html" %}
{% load static %}
{% block content %}
    {% if not user.is_authenticated %}
<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Інструкція щодо відновлення пароля надіслана</h2>
		<hr>
		<p>Ми надіслали вам інструкції щодо відновлення пароля, якщо з введеною вами електронної адреси існує обліковий запис. Незабаром ви отримаєте її.<br>Якщо ви не отримали електронного листа, переконайтеся, що ви ввели адресу, за якою ви зареєструвалися, і перевірте папку зі спамом.</p>
  </div>
    {% endif %}
{% endblock %}