{% extends "shop/base.html" %}
{% load static %}
{% block content %}
    {% load crispy_forms_tags %}
    {% if validlink %}
<div class="container p-5">
        <h2 class="font-weight-bold mt-3">Підтвердіть відновлення паролю</h2>
		<hr>
        <p>Будь-ласка введіть новий пароль</p>
        <form method="POST">
            {% csrf_token %}
            <p style="margin-top: 20px;"><label style="margin-right: 10px;">Новий пароль: </label>{{ form.new_password1 }}</p>
            <p style="font-size: 30px;">{{ form.new_password1.errors }} </p>
            <p><label style="margin-right: 10px;">Підтвердіть новий пароль: </label>{{ form.new_password2 }}</p>
            <p style="font-weight: bolder;">{{ form.new_password2.errors }} </p>
            <button class="btn btn-outline-primary" type="submit" style="margin-top: 15px;">Відновити пароль</button>
        </form>
    </div>
    {% elif user.is_authenticated %}
        <div class="container p-5">
        <h2>Ви вже авторизовані на сайті</h2>
    </div>
    {% else %}
    <div class="container p-5">
        <h3>Термін дії посилання, за яким ви перейшли, минув! Щоб увійти в систему або скинути пароль знову, натисніть</h3>
            <button class="btn btn-outline-primary" style="margin-top: 15px;" href="{% url 'login' %}" type="submit">Увійти</button>
    </div>
    {% endif %}
{% endblock %}