{% extends "shop/base.html" %}
{% load static %}
{% block content %}
    {% load crispy_forms_tags %}
<form method="post" class="user_in_form">
    <h2 class="font-weight-bold mt-3">Відновлення паролю</h2>
    <p>Забули свій пароль? Введіть свою електронну адресу нижче, і ми надішлемо електронною поштою інструкції щодо відновлення паролю.</p>
    {% csrf_token %}
    <p style="margin-top: 30px;"><label style="margin-right: 10px;">Введіть email: </label>{{ form.email }}</p>
    <input type="Submit" class="btn btn-outline-success log_in_button" style="margin-left: 17px; width: 160px !important;" name="submit" value="Відправити"/>
</form>
{% endblock %}