{% extends "shop/base.html" %}
{% load static %}
{% block content %}
{% if messages %}
    {% for mess in messages %}
        {% if mess.tags == "error" %}
            <div class="alert alert-danger my_success" role="alert">{{mess}}</div>
        {% else %}
            <div class="alert alert-success my_success" role="alert">{{mess}}</div>
        {% endif %}
    {% endfor %}
{% endif %}
<div class="container mt-5">
      <div class="row">
      <div class="col-md-4">
      </div>
          <div class="col-md-4">
<div class="style_form">
<form method="post" class="user_in_form">
    {% csrf_token %}
    <p>{{ form.email }}</p>
    <p>{{ form.password }}</p>
<p>Ви ще не зареєстровані?<a href="{% url 'registration' %}">Зареєструватись</a></p>
<p>Забули пароль? <a href="{% url 'reset_password' %}">Відновити</a></p>

    <input type="Submit" class="btn btn-outline-success log_in_button" name="submit" value="Вхід"/>
</form>
    </div>
</div>





      </div>
</div>

{% endblock %}
