{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src=" https://unpkg.com/sweetalert/dist/sweetalert.min.js "></script>
    <link rel="stylesheet" href="/static/shop/main.css">
    <title>Document</title>
    <link rel="shortcut icon" href="#"/>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" style="margin-left: 10px;" href="{% url 'home' %}">Головна</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
            aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'shop' %}">Магазин</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'repair_page' type_name='Шиномонтаж' %}">Замовити послугу</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#footer">Контакти</a>
            </li>
            <div class="timals">
                <div class="cart_message">
                    {% with total_items=cart|length %}
                        <a href="{% url 'cart:cart_detail' %}"><img
                                src="{% static 'shop/premium-icon-add-to-cart-5412718.png' %}" class="w-100 icon_cart"
                                alt="..."
                                style=""></a>
                        <span class='badge badge-warning' id='lblCartCount'>{{ total_items }}</span>
                    {% endwith %}
                </div>

                {% if not user.is_authenticated %}
                    <a href="{% url 'registration' %}" style="text-decoration: none;">
                        <button class="btn btn-outline-info shapka_butt">Зареєструватися</button>
                    </a>
                    <a href="{% url 'login' %}" style="">
                        <button class="btn btn-outline-warning">Увійти</button>
                    </a>
                {% else %}
                    <a href="{% url 'profile:profile' %}" style="">
                        <button class="btn btn-outline-info profile_butt">Профіль</button>
                    </a>
                    <a href="{% url 'exit' %}" style="">
                        <button class="btn btn-outline-warning shapka_butt">Вийти</button>
                    </a>
                {% endif %}
            </div>
        </ul>
    </div>
</nav>
<main>

    {% block content %}
    {% endblock %}

</main>

<div class="proposal">
    <div class="proposal__close"></div>

    {% if not user.is_authenticated %}
        <div style="width: 100%; padding: 20px 10px;">
            <a href="{% url 'registration' %}" style="display: block; text-align: center;">Зареєструйтеся та майте
                можливість відслілковувати статус вашого ремонту та
                отримайте знижку на першу покупку запчастин 20%
            </a>
        </div>
    {% elif user.is_authenticated and sections == 'New_user' %}
        <div style="width: 100%; padding: 20px 10px;" class="discount">
            <a href="{% url 'shop' %}" style="display: block; text-align: center;">
                У вас діє знижка на одне замовлення товару 20%
            </a>
        </div>
    {% endif %}
</div>

<script>
    const proposal = document.querySelector('.proposal');
    const closeBtn = proposal.querySelector('.proposal__close');

    if (!sessionStorage.activeProposal) {
        sessionStorage.activeProposal = "active";
    }

    if (sessionStorage.activeProposal === "disactive") {
        proposal.classList.add("proposal_disactive");
    }

    closeBtn.addEventListener('click', () => {
        proposal.classList.add("proposal_disactive");
        sessionStorage.activeProposal = "disactive";
    });
</script>


<footer id="footer" class="py-3 my-4 mt-5">
    <div class="content">
        <div class="footer__inner">
            <div class="footer__contacts">
                <ul>
                    <li>
                        <p>
                            Телефон
                        </p>

                        <a href="tel:+3805057734">+3805057734</a>
                    </li>

                    <li>
                        <p>
                            Email
                        </p>

                        <a href="mailto:golosov@gmail.com">golosov@gmail.com</a>
                    </li>

                    <li>
                        <p>
                            Адрес
                        </p>

                        <p>вулиця Чигиринська, 13А</p>
                    </li>
                </ul>
            </div>

            <div class="footer__map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2595.882303597431!2d32.107372895492524!3d49.411131402348104!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d14b2fc93b744f%3A0x5b86ae3d3556aa84!2z0KHQotCeIMKr0JrQvtC70ZbRidCwwrs!5e0!3m2!1sru!2sua!4v1649248906130!5m2!1sru!2sua"
                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-muted">Головна</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 KOLISCHA</p>
</footer>
</body>

</html>