{% extends "shop/base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
      <div class="row">
        <div class="col-md-8">
        <div class="search-form">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="Submit" class="btn btn-outline-warning search-button" name="submit" value="Пошук"/>
            </form>
        </div>
<div class="shop_wrapper">
{% for item in products_list %}
   <div class="shop_link"><a class="shop_url" href="{% url 'product_detail' item.id %}"><img class="shopimg" src="/{{ item.image }}"><p class="otstup">{{ item.title }}</p></a>

       <p class="otstup"> Ціна: {{ item.price }} грн</p>
    <a href="{% url 'product_detail' item.id %}"><img src="{% static '/final_cart_icon.png' %}" class="w-100 icon_cart" alt="..."></a>
   </div>

{% endfor %}
</div>
            <div class="paginbutt">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                <a href="{% url 'shop' %}" class="btn btn-outline-warning">1</a>
                  <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-warning"> < </a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if num == page_obj.number %}
                        <button class="btn btn-warning">{{ num }}</button>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-warning"> > </a>
                  <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-warning">{{ page_obj.paginator.num_pages }}</a>
                {% endif %}
            {% endif %}
            </div>
        </div>

          <div class="col-md-4">
          <div class="categories">
          <form action="" method="post" class="filters">
            {% csrf_token %}
          <h3 style="text-align: center">Категорії</h3>
          <hr>
              <ul>
                <li>
                    <a href="{% url 'shop' %}">
            <button type="Submit" name="category" value="Масло" class="btn btn-link mylink">Масло</button>
                    </a>
                </li>
                <li>
                    <a href="{% url 'shop' %}">
            <button type="Submit" name="category" value="Гвозди" class="btn btn-link mylink">Гвозди</button>
                    </a>
                </li>
                <li>
                    <a href="{% url 'shop' %}">
            <button type="Submit" name="category" value="Болты" class="btn btn-link mylink">Болты</button>
                    </a>
                </li>
              <li>
                  <a href="{% url 'shop' %}">
            <button type="Submit" name="category" value="Гайки" class="btn btn-link mylink">Гайки</button>
                    </a>
              </li>
             <li>
                 <a href="{% url 'shop' %}">
            <button type="Submit" name="category" value="Подшипники" class="btn btn-link mylink">Подшипники</button>
                    </a>
             </li>


              </ul>
          </form>
          </div>
          </div>
      </div>
</div>

{% endblock %}
